#nav {
    background-color: burlywood;
    z-index: 8;
}

a {
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background-color: black;
}

#hero {
    float: right;
    background-image: url("musician2.webp");
    position: relative;
    background-size: cover;
    background-position: center;
}

.hero-text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    position: relative;
    top: 50px;
}

.music-text {
    font-family: "Roboto", sans-serif;
    color: white;
}

#Watch {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
}

@media (max-width: 576px) {
    #nav {
        position: fixed;
        height: 100vh;
        width: 45px;
    }

    a {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }


    #hero {
        height: 40vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        z-index: 1;
    }

    .hero-text{
        font-size: 24px;
    }



    #music {
        position: relative;
        width: 100vw;
        flex-direction: column;
        background-color: black;
        display: flex;
        align-items: center;
    }

    .album-art {
        flex: 0 0 auto;
        width: 150px;
        height: 150px;
        position: relative;
        left: 35px;
        top: 40px;
    }

    .music-text {
        text-align: center;
        position: relative;
    }

    #Watch {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 20px;
    }

    iframe {
        width: 300px;
        height: 170px;
        position: relative;
        left: 10px;
        flex-direction: column;
        flex-flow: wrap;
    }
}

@media (min-width: 1000px) {
    #nav {
        width: 100vw;
        height: 60px;
        display: flex;
        justify-content: space-evenly;
    }

    a {
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 40px;
    }

    #hero {
        height: 40vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 0 0 auto;
    }

    .hero-text {
        text-align: center;
        font-size: 100px;
        position: relative;
        top: 50px;
    }

    #music {
        position: relative;
        width: 100vw;
        flex-direction: column;
        display: flex;
    }

    .album-art {
        display: flex;
        width: 400px;
        height: 400px;
        position: relative;
        float: left;
        left: 35px;
        top: 40px;
        display: flex;
        justify-content: space-evenly;
    }

    .music-text {
        position: relative;
        top: 100px;
        left: 70px;
        font-family: "Roboto", sans-serif;
        text-align: left;
        font-size: 30px;
    }

    #Watch {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 20px;
        top: 100px;
        font-size: 25px;

    }

    iframe {
        width: 700px;
        height: 400px;
        position: relative;
        left: 10px;
        flex-direction: column;
        flex-flow: wrap;
    }


}
