@media (max-width: 576px) and (max-height: 932px) {
    #nav {
        position: fixed;
        height: 100vh;
        width: 45px;
        background-color: burlywood;
        z-index: 8;
    }

    a {
        display: flex;
        flex-direction: column;
        color: white;
        font-family: "Roboto", sans-serif;


    }

    body {
        background-color: black;
    }

    #hero {
        float: right;
        background-image: url("musician2.webp");
        position: relative;
        background-size: cover;
        background-position: center;
        height: 40vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        z-index: 1;
    }

    .hero-text {
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 24px;
        position: relative;
        top: 50px;
    }

    #music {
        position: relative;
        width: 100vw;
        flex-direction: column;
        background-color: black;
        z-index: 0;
        display: flex;
        align-items: center;
    }

    .album-art {
        flex: 0 0 auto;
        width: 150px;
        height: 150px;
        position: relative;
        left: 35px;
        top: 40px;
    }

    .music-text {
        font-family: "Roboto", sans-serif;
        color: white;
        text-align: center;
        position: relative;
    }

    #Watch {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 20px;
        font-family: "Roboto", sans-serif;
        color: white;
        background-color: black;
        font-size: 15px;

    }

    iframe {
        width: 300px;
        height: 170px;
        position: relative;
        left: 10px;
        flex-direction: column;
        flex-flow: wrap;
        background-color: black;
    }
}

@media (min-width: 1000px) {
    #nav {
        width: 100vw;
        height: 60px;
        background-color: burlywood;
        display: flex;
        justify-content: space-evenly;
    }

    a {
        font-family: "Roboto", sans-serif;
        font-size: 50px;
        padding: 10px;
        color: white;
        font-weight: bold;


    }

    body {
        background-color: black;
    }

    #hero {
        float: right;
        background-image: url("musician2.webp");
        background-size: cover;
        background-position: center;
        height: 40vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 0 0 auto;
    }

    .hero-text {
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 100px;
        position: relative;
        top: 50px;
    }

    #music {
        position: relative;
        width: 100vw;
        flex-direction: column;
        display: flex;
    }

    .album-art {
        display: flex;
        width: 400px;
        height: 400px;
        position: relative;
        float: left;
        left: 35px;
        top: 40px;
        display: flex;
        justify-content: space-evenly;
    }

    .music-text {
        position: relative;
        top: 100px;
        left: 70px;
        font-family: "Roboto", sans-serif;
        text-align: left;
        font-size: 30px;
        color: white;
    }

    #Watch {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 20px;
        top: 100px;
        font-family: "Roboto", sans-serif;
        color: white;
        background-color: black;
        font-size: 25px;

    }

    iframe {
        width: 700px;
        height: 400px;
        position: relative;
        left: 10px;
        flex-direction: column;
        flex-flow: wrap;
        background-color: black;
    }
    

}